In [1]:
!pip install pyforest
import pyforest

Requirement already satisfied: pyforest in c:\users\ian\anaconda3\lib\site-packages (1.1.0)

In [2]:
Data = pd.read_csv('C://Users//Ian//Desktop//Internet Churn Rate.csv')

In [3]:
Data.head()

,customer_id,age,gender,monthly_payment,contract_length,internet_speed,data_usage,customer_service_calls,customer_satisfaction,churned
0,1,32,Male,3096.85,13,100 Mbps,46.23,1,5,False
1,2,41,Female,6550.29,8,50 Mbps,4.25,9,5,True
2,3,81,Non-binary,3473.98,1,50 Mbps,406.74,9,3,True
3,4,32,Male,8436.81,9,100 Mbps,417.60,6,2,True
4,5,85,Female,2529.06,20,1 Gbps,598.31,2,2,True

In [4]:
# Data Preprocessing
#check for null values
Data.isnull().sum()

customer_id               0
age                       0
gender                    0
monthly_payment           0
contract_length           0
internet_speed            0
data_usage                0
customer_service_calls    0
customer_satisfaction     0
churned                   0
dtype: int64

In [5]:
Data.gender.value_counts()

gender
Female         275
Male           264
Genderqueer     13
Non-binary      12
Polygender      12
Agender          8
Genderfluid      8
Bigender         8
Name: count, dtype: int64

In [6]:
# Dropping other gender
df = Data[(Data['gender'] == 'Male')| (Data['gender'] == 'Female')]
# Resetting the index
df.reset_index(drop=True, inplace=True)

In [7]:
df.head()

,customer_id,age,gender,monthly_payment,contract_length,internet_speed,data_usage,customer_service_calls,customer_satisfaction,churned
0,1,32,Male,3096.85,13,100 Mbps,46.23,1,5,False
1,2,41,Female,6550.29,8,50 Mbps,4.25,9,5,True
2,4,32,Male,8436.81,9,100 Mbps,417.60,6,2,True
3,5,85,Female,2529.06,20,1 Gbps,598.31,2,2,True
4,6,66,Female,874.34,8,100 Mbps,671.64,7,2,True

In [8]:
df.gender.value_counts()

gender
Female    275
Male      264
Name: count, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             539 non-null    int64
 1   age                     539 non-null    int64
 2   gender                  539 non-null    object
 3   monthly_payment         539 non-null    float64
 4   contract_length         539 non-null    int64
 5   internet_speed          539 non-null    object
 6   data_usage              539 non-null    float64
 7   customer_service_calls  539 non-null    int64
 8   customer_satisfaction   539 non-null    int64
 9   churned                 539 non-null    bool
dtypes: bool(1), float64(2), int64(5), object(2)
memory usage: 38.5+ KB

In [10]:
df = df.drop(['customer_id'], axis = 1)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     539 non-null    int64
 1   gender                  539 non-null    object
 2   monthly_payment         539 non-null    float64
 3   contract_length         539 non-null    int64
 4   internet_speed          539 non-null    object
 5   data_usage              539 non-null    float64
 6   customer_service_calls  539 non-null    int64
 7   customer_satisfaction   539 non-null    int64
 8   churned                 539 non-null    bool
dtypes: bool(1), float64(2), int64(4), object(2)
memory usage: 34.3+ KB

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
def preprocessing_data(data):
   
    # Label Encoding
    df['gender'] = le.fit_transform(df['gender'])
    df['churned'] = le.fit_transform(df['churned'])
        
    return df

In [13]:
preprocessing_data(data = df)

,age,gender,monthly_payment,contract_length,internet_speed,data_usage,customer_service_calls,customer_satisfaction,churned
0,32,1,3096.85,13,100 Mbps,46.23,1,5,0
1,41,0,6550.29,8,50 Mbps,4.25,9,5,1
2,32,1,8436.81,9,100 Mbps,417.60,6,2,1
3,85,0,2529.06,20,1 Gbps,598.31,2,2,1
4,66,0,874.34,8,100 Mbps,671.64,7,2,1
...,...,...,...,...,...,...,...,...,...
534,66,0,6388.42,12,50 Mbps,943.37,4,1,0
535,59,0,9781.56,15,10 Mbps,196.49,9,4,1
536,32,0,1150.09,3,100 Mbps,897.13,1,2,0
537,18,1,8555.63,7,50 Mbps,745.87,3,5,1
538,37,1,2421.95,23,10 Mbps,2.94,8,5,1

In [14]:
# Define a function to convert values with 'Gbps' to Mbps
def convert_to_mbps(value):
    if 'Gbps' in value:
        return float(value.replace(' Gbps', '')) * 1000
    elif 'Mbps' in value:
        return float(value.replace(' Mbps', ''))
    else:
        return None  # Handle values without units as needed

# Apply the conversion function to the 'column_name' column
df['internet_speed(mbps)'] = df['internet_speed'].apply(convert_to_mbps)

In [15]:
df['internet_speed(mbps)']

0       100.0
1        50.0
2       100.0
3      1000.0
4       100.0
        ...
534      50.0
535      10.0
536     100.0
537      50.0
538      10.0
Name: internet_speed(mbps), Length: 539, dtype: float64

In [22]:
df = df.drop(['internet_speed'], axis = 1)

In [23]:
df.head()

,age,gender,monthly_payment,contract_length,data_usage,customer_service_calls,customer_satisfaction,churned,internet_speed(mbps)
0,32,1,3096.85,13,46.23,1,5,0,100.0
1,41,0,6550.29,8,4.25,9,5,1,50.0
2,32,1,8436.81,9,417.60,6,2,1,100.0
3,85,0,2529.06,20,598.31,2,2,1,1000.0
4,66,0,874.34,8,671.64,7,2,1,100.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     539 non-null    int64
 1   gender                  539 non-null    int32
 2   monthly_payment         539 non-null    float64
 3   contract_length         539 non-null    int64
 4   internet_speed          539 non-null    object
 5   data_usage              539 non-null    float64
 6   customer_service_calls  539 non-null    int64
 7   customer_satisfaction   539 non-null    int64
 8   churned                 539 non-null    int64
 9   internet_speed(mbps)    539 non-null    float64
dtypes: float64(3), int32(1), int64(5), object(1)
memory usage: 40.1+ KB

In [24]:
# splitting the dataset
x = df.drop(['churned'], axis =1)
y = df['churned']

from sklearn.model_selection import train_test_split
x_train , x_test, y_train, y_test = train_test_split(x, y,
                                                   test_size = 0.2, random_state = 42)

In [25]:
x.head()

,age,gender,monthly_payment,contract_length,data_usage,customer_service_calls,customer_satisfaction,internet_speed(mbps)
0,32,1,3096.85,13,46.23,1,5,100.0
1,41,0,6550.29,8,4.25,9,5,50.0
2,32,1,8436.81,9,417.60,6,2,100.0
3,85,0,2529.06,20,598.31,2,2,1000.0
4,66,0,874.34,8,671.64,7,2,100.0

In [26]:
from sklearn.ensemble import RandomForestRegressor as RF
regressor = RF(n_estimators = 300, random_state = 0)
regressor.fit(x_train, y_train)

RandomForestRegressor(n_estimators=300, random_state=0)

In [27]:
#predicting 
y_pred = regressor.predict(x_test)

In [28]:
y_pred

array([0.48      , 0.50333333, 0.49      , 0.47333333, 0.63666667,
       0.7       , 0.4       , 0.64666667, 0.55666667, 0.55      ,
       0.67      , 0.69666667, 0.48333333, 0.50333333, 0.54      ,
       0.22666667, 0.41333333, 0.63333333, 0.5       , 0.71666667,
       0.44333333, 0.41333333, 0.52      , 0.36      , 0.63      ,
       0.57666667, 0.70333333, 0.45      , 0.34666667, 0.55      ,
       0.61      , 0.62666667, 0.54666667, 0.20666667, 0.68      ,
       0.31666667, 0.35      , 0.54333333, 0.48333333, 0.55666667,
       0.58      , 0.69333333, 0.53      , 0.54      , 0.48666667,
       0.55666667, 0.45666667, 0.76666667, 0.34666667, 0.69      ,
       0.37666667, 0.25333333, 0.27666667, 0.50666667, 0.47333333,
       0.38666667, 0.39      , 0.60666667, 0.53      , 0.59666667,
       0.53666667, 0.58      , 0.50333333, 0.36333333, 0.69333333,
       0.61      , 0.63      , 0.73333333, 0.48666667, 0.42      ,
       0.66      , 0.43      , 0.52      , 0.31333333, 0.59333333,
       0.62666667, 0.69333333, 0.55      , 0.56333333, 0.4       ,
       0.37666667, 0.57      , 0.69      , 0.57666667, 0.4       ,
       0.38      , 0.62666667, 0.56      , 0.69333333, 0.44666667,
       0.38666667, 0.60666667, 0.46      , 0.49666667, 0.35333333,
       0.39      , 0.49333333, 0.57      , 0.62666667, 0.37      ,
       0.52333333, 0.71333333, 0.60333333, 0.64333333, 0.72      ,
       0.49333333, 0.34666667, 0.70666667])